*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #e2e2e2;
  height: 43px;
  background: #fff;
  padding: 10px 15px 6px;  
}

nav .left-align {
  display: flex;
  justify-content: space-between;
  width: 250px;
}

.space-link a {
  text-decoration: none;
  color: black;
  font-weight: 700;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
}

nav .center-align {
  display: flex;
}

nav .right-align {
  display: flex;
  justify-content: space-between;
  width: 230px;
  padding-right: 10px;
}

.btn {
  border-radius: 3px;
  color: white;
  font-size: 11px;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  background-color: #567b95;
  padding: 11px 12px 8px;
  text-transform: uppercase;
  padding-left: auto;
  border: 0;
}

.subs-btn {
  margin-left: 28px;
}

.circle-bg{
  width: 30px;
  height: 30px;
  padding-top: 7px;  
  text-align: center;
  border-radius: 50%;
  background-color:#E2E2E2;
  cursor: pointer;  
}

.section-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: red; */
}

figcaption {
  width: 73%;
}
figcaption span {
  font-size: 13px;
  color: #606060;
}

.site-content{
  flex-basis: 100%;
  /* background-color: rgb(17, 48, 223);   */
  margin-left: 15%;
  margin-right: 15%;
}

article {
  /* margin-left: 15%; */
  /*margin-right: 15%;*/
}
.section-1 .header {
  font-size: 30px;
  font-family: nyt-cheltenham, georgia, 'times new roman', times, serif;
  text-align: center;
  font-style: italic;
  font-weight: 700;
  color: #121212;
}

figure img {
  margin-top: 30px;
  width: 100%;
  height: auto;
}

.story-body {
  display: flex;
  justify-content: space-around;
}

.section-1-child {  
  background-color: yellow;
  flex-basis: 50%; 
  margin-left: 25%;
  margin-top: 40px;
}

.auther {
  margin-bottom: 20px;
  color: #333; 
}

.auther a {
  color: #333;
}

.date-social{
 margin-bottom: 20px;
}

.section-1-child ul {
  display: flex;
  justify-content: space-between;
  list-style: none;  
}

.section-1-child .social {
  width: 30%;
}

.section-1-child .social-items {
  display: flex;
  justify-content: space-between;
  /* border: 1px solid green; */
}

.social-items .fab {
  color: black;
}

.story p {
  font-family:'Times New Roman', Times, serif;
  font-size: 22px;
  margin-bottom: 20px;
}

.story h1 {
  font-size: 25px;
  margin-bottom: 20px;  
}

.middle-sub-link{
  text-align: center;  
}

.middle-sub-link hr{
  width: 72px;
  border-bottom: 1px solid rgb(204, 204, 204);
  margin: 10px auto 10px;
}

.middle-sub-link p{
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 17px;
  color: #333;
}

aside {
  /* background: green; */
  margin-top: 900px;
  width: 15%;  
}

.aside-header{
  padding: 10px 10px 10px 0;
}
.aside-header hr{
  margin-top: 5px;
}

.editors-items{
  display: flex;
  margin-bottom: 20px;
  font-family: nyt-cheltenham-small, georgia, "times new roman";  
  font-size: 10px;
  color:rgb(51, 51, 51);  
  align-items: center;
}

.editors-items img{
  width: 75px;
  height: 75px;
  margin-right: 10px;
}

.section-2 {
  margin-left: 15%;
  margin-right: 15%;  
}

.summary-txt {
  line-height: 1.125rem;
  font-weight: 400;
  font-style: normal;
  font-family: nyt-cheltenham-sh,georgia,times new roman,times,serif;
  color: #666;
  margin-bottom: 5px;
}

.story-body-grid {
  background: url("images/inflation-1.png");
  background-repeat: no-repeat;
  background-size: contain;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;  
  column-gap: 15px;  
}

.story-body-grid p {
  font-size: 14px;
  font-family: nyt-franklin, arial, helvetica, sans-serif;
  font-weight: 300;
  padding: 150px 0px 0;
  line-height: 17px;
  color: #606060;  
 }

.para-begin {
  color: black;
  font-size: 11px;
  font-weight: bold;
  letter-spacing: .05em;
}

.grid-footer hr {
  display: flex;
  margin-bottom: 13px;
  margin-top: 10px;
  width: 60px;
  border-bottom: 1px solid black;  
}

.grid-footer p {
  font-size: 13px;
  line-height: 1.125rem;
  color: #606060;  
  font-weight: 500;
  font-style: normal;
  font-family: nyt-franklin,arial,helvetica,sans-serif;
}

.section-3 {  
  background-color: rgb(24, 88, 226);
  margin-right: 25%;
  margin-left: 25%;
  margin-top: 40px;
}


