*,*:before,*:after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

.main-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;  
    border: 1px solid #e2e2e2; 
    height: 43px; 
    background: #fff; 
    padding: 10px 15px 6px;
   
}

nav .left-align{
    display: flex;
    justify-content: space-between; 
    width: 250px;    
}

.fa-search{
    height: 16px;
    width: 16px; 
    color: #606060;       
}

.space-link a{
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-family: nyt-franklin,helvetica,arial,sans-serif;
}

nav .center-align{
    display: flex;
}

nav .right-align{
    display: flex;
    justify-content: space-between;
    width: 230px;
    padding-right: 10px;
    
}

.btn{
    border-radius: 3px;
    color: white;
    font-size: 11px;
    font-family: nyt-franklin,helvetica,arial,sans-serif;
    background-color: #567b95;
    padding: 11px 12px 8px;
    text-transform: uppercase;
    padding-left: auto;  
    border: 0;     
}
.subs-btn{
    margin-left: 28px;

}